@import "./global.scss";

.header {
    background-color: #F1CE44;

    .header-illustration {
        display: flex;
        width: 100%;

        .left-illustration {
            width: 300px;
            // transform: translate(-200px, 30px);
        }
    
        .slogan {
            margin: auto;
            width: 200px;
        }        
    
        .right-man-illustration {
            align-self: baseline;
            transform: translate(100px, 100px);
            width: 300px;
            height: 248px;
        }
    }
}

.content {
    width: 100%;
    max-width: 1280px;
    padding: 16px;
    margin: auto;
}


.gnb {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        width: 178px;
    }

    .nav-list {
        display: flex;

        li {
            margin: 0 60px;
            text-transform: uppercase;

            & :first {
                margin-right: 60px
            }

            & :last-child {
                margin-left: 60px
            }

            &.active {
                text-decoration: underline;
                font-weight: 700;
            }
        }
    }
}